<main class="h-(screen) flex flex-col justify-center items-center p-8 bg-mainBackground bg-center">
    <div class="h-full bg-white dark:bg-dark text-dark dark:text-white p-4 overflow-auto md:w-4/6 lg:w-1/2 ">
        <h1 class="mb-6 text-4xl text-center">VERBS</h1>

        <!-- search bar -->
        <div class="flex border-2 rounded bg-grey mb-6">
            <button class="flex items-center justify-center px-4 border-r">
                <img src="../../../assets/img/icon_magnifier.svg" class="text-pink" alt="">
            </button>
            <input type="text" name="" id="" class="w-full">
        </div>

        <!-- error -->
        <div *ngIf="error" id="error">
            {{ error.message }}
        </div>

        <!-- table -->
        <div *ngIf="!error" class="h-full overflow-auto">
            <table class="h-full w-full">
                <thead class="sticky top-0 bg-main">
                    <tr class="text-left">
                        <th>Base Verbal</th>
                        <th>Simple Past</th>
                        <th>Past Participe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let verb of verbs">
                        <td>{{ verb.baseVerbal }}</td>
                        <td>{{ verb.simplePast }}</td>
                        <td>{{ verb.pastParticipe }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
