:host {
    height: 100%;
    width: 100%;

    mat-form-field {
        width: 100%;
    }

    .tableContainer {
        overflow: auto;
        table {
            width: 100%;
        }
    }

    .mat-table-sticky {
        opacity: 1;
    }

}