@use 'SASS:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        $primary-palette: map.get($color-config, 'primary');
        @include base($primary-palette);
    }
}

@mixin base($primary-palette) {
    a{
        color: mat.get-color-from-palette($primary-palette, darker);
    }

    a:hover{
        color: mat.get-color-from-palette($primary-palette, lighter);
    }

    a:active{
        color: mat.get-color-from-palette($primary-palette, lighter);
    }
}